.adminUserPage {
    padding: 3rem clamp(1rem, 5vw,5rem) 0 clamp(1rem, 5vw,5rem);
}
.adminUserSearch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminUserPage h1{
    font-size: 25px;
}
.search-box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 20px 15px 20px 15px;
}
.search-box:hover input{
    width: 200px;
}
.search-box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search-box a svg{
    fill: tomato;
    width: 18px;
}
.adminUserPage .top-section{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.adminUserPage .top-section > div{
    display: flex;
    gap: 20px;
}
.adminUserPage button{
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: tomato;
    padding: 15px;
}

@media (max-width:750px){
.adminUserPage .top-section{
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}
.adminUserPage .top-section div{
    display: flex;
    flex-direction: row-reverse;
}
}

/* ADMIN USER MANAGE BOARD */

.adminUserBoard{
    border-radius: 20px;
    margin-top: 50px;
}
.adminUserBoard .section{
    display: grid;
    padding: 20px;
    align-items: center;
    height: 90px;
    border: solid 1px grey;
    border-top: 0;
    grid-template-columns:1fr 1fr 0.5fr;
}
.adminUserBoard .section:first-child{
    border: solid 1px grey;
    font-weight: 700;
    font-size: large;
}

.adminUserBoard img{
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
}

.adminUserBoard .user{
    background-color: rgba(0, 0, 0, 0.03);
}
.adminUserBoard .user .info{
    display: flex;
    gap: 15px;
}
.adminUserBoard .user .info .name{
    font-weight: 600;
}
.adminUserBoard .user .info .email{
    font-weight: 500;
    opacity: 75%;
    font-size: small;
}

.adminUserBoard .user .roles{
    display: flex;
    gap: 10px;
}
.adminUserBoard .user .roles .role{
    border-radius: 50px;   
    padding: 8px 10px;
    font-weight: 500;
    color: white;
    font-size: small ;
}
.adminUserBoard .user .roles .admin{
    background-color:darkslategrey ;
}
.adminUserBoard .user .roles .customer{
    background-color: darkgoldenrod;
}
.adminUserBoard .user .roles .staff{
    background-color: rgb(11, 92, 184);
}

.adminUserBoard .actions{
    display: flex;
    gap: 20px;
    font-size: medium;
    font-weight: 600;
    color: gray;
}
.adminUserBoard .actions svg{
fill: grey;
width: 25px;    
}
.adminUserBoard .actions div{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.top-section .addUser_btn{
    cursor: pointer;
}
/* ADMIN USER MANAGE BOARD */

/* ADMIN USER POP UPS */

.top-section .pop-ups{
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    right: 0;
    opacity: 1;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.top-section .pop-ups .add-user{
    display: block;
    background: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 480px;
    text-align: left;
    position:absolute;
}

.top-section .pop-ups .btn-submit{
    color: white;
    background-color: green;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
}

.top-section .pop-ups .btn-close{
    color: white;
    background-color: red;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid;
    cursor: pointer;
    width: 100%;
}

.top-section .pop-ups .add-user #added_role{
    padding: 5px 10px;
    margin: 5px;
}

.adminUserBoard .pop-ups{
    position: fixed;
    top: 0;
    display: none;
    /* display: none; */
    justify-content: center;
    align-items: center;
    right: 0;
    opacity: 1;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
}
/* .adminUserBoard .pop-ups div{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
} */

.adminUserBoard .pop-ups .modify{
    display: none;
    background: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
    text-align: left;
    position:absolute;
}
.adminUserBoard .pop-ups .remove{
    display: none;
    background: white;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 340px;
    text-align: left;
    position:absolute;
}

.adminUserBoard .pop-ups .remove .yn_btn{
    display: flex;
    margin-top: 20px;
    justify-content: right;
}

.adminUserBoard .pop-ups .remove .deny_btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.adminUserBoard .pop-ups .remove .cfm_btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.adminUserBoard .btn-submit{
    color: white;
    background-color: blue;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    width: 40%;
}

.adminUserBoard .btn-close{
    color: white;
    background-color: red;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    width: 40%;
}

.adminUserBoard #modify_role{
    padding: 5px 10px;
    margin: 5px;
}

/* ADMIN USER POP UPS */