@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
  --main:#E64A27;
  --background-secondary:#ECE5C0;
  --night-color:#1A5EA4;
  --morning-color:#FEC53B;
  --evening-color:#C98C70
}
*{
scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
  color: inherit;
}
@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: var(rgb(235, 235, 235));
}
.navbar .icon{
width: 24px;
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar .logo{
    width: 120px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar .cart-icon{
    position: relative;
}
.navbar .dot{
    position: absolute;
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -5px;
    right: -8px;
}
.navbar button {
    color: #49557e;
    font-size: 16px;
    background: transparent;
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.navbar button:hover {
    background-color: #fff4f2;
}
.navbar .active{
    border-bottom: 2px solid #49557e;
}
.navbar li {
    cursor: pointer;
}
@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
}
.header{
    margin: 0px auto 20px;
    height: 70vh;
    background: url('./images/header\ image.jpg') no-repeat;
    position: relative;
    width: 100vw;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.header-contents{
    position: absolute;
    display: flex;
    animation: fadein 1s;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    max-width: 50%;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}
.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    margin-top:40px ;
    padding-top: 80px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left,.footer-content-right,.footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
gap: 20px;}
.footer li {
    list-style: none;
    margin-top: 10px;
}
.footer h2{
    color: white;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: gray;
    border: none;
}
@media (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}
.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
margin: auto;}
.explore-menu-list-item img{
    aspect-ratio: 1;
    border-radius: 50%;
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    transition: 0.2s;
    object-fit: cover;
}
.explore-menu-list-item p{
    font-size: max(1.4vw,16px);
    cursor: pointer;
    color: #747474;
    margin-top: 10px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    color: #808080;
}
.explore-menu-list {
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}
@media (max-width:1050px) {
.explore-menu-text{
    max-width: 100%;
    font-size: 14px;
}
}
.food-display{
    margin-top: 30px;
    padding: 0 10vw;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
margin-top: 30px;
gap: 30px;
row-gap: 50px;
}
.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    transition: 0.3s;
    height: 100%;
}
.food-item-img{
width: 100%;
aspect-ratio: 1.6;
object-fit: cover;
border-radius: 15px 15px 0 0;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.food-item-name-rating p {
    font-size: 18px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 100px;
}
.food-item-description{
    color: #676767;
    font-size: 12px
}
.food-item-price{
    color: tomato ;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}
.food-item-img-container{
    position: relative;
}
    .food-item-img-container .icon{
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
}
.food-item-img-container .add{
background-color: rgb(199, 255, 199);
}
.food-item-img-container .subtract{
    background-color: rgb(255, 206, 206);
}
.food-item-img-container .counter{
position: absolute;
bottom: 15px;
right: 15px;
background-color: whitesmoke;
padding: 5px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
gap: 8px;
}

.container_product_detail {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: space-around;
}

.product_img {
    width: 45%;
    height: auto;
}

.Product_Description {
    width: 45%;
    height: auto;
}

.note-container {
    width: 100%;
    margin: 10px 0;
}

#note {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box; 
}

@media (max-width: 600px) {
    .product_img,
    .Product_Description {
        width: 100%;
    }
}

.Product_Description h1{
    text-align: center; 
    color: tomato;
    margin: 0px 0px;
}

.Product_Description h4{
    margin: 0 0 10px 0;
}

.Product_Description p{
    margin: 10px 0;
}

.increase_decrease button{
    background-color: tomato;
    color: white;
    border-radius: 4px;
    min-width: 30px;
    cursor: pointer;
    border: none;
}
.increase_decrease button:hover{
    background-color: coral;
}

.add_cart{
    width: 100%; display: flex; justify-content: center;
}

.add_cart button{
    background-color: tomato;
    width: 100%; height: 40px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: none;
}

.add_cart button:hover{
    background-color: coral;
}

/* <<<--- ADMIN SIDEBAR NAVIGATION */

.admin-navbar{

    position:fixed;
    background-color: #262626;
    transition: all 0.2s ease;
}
.admin-navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
/* .admin-navbar-item:last-child {
    margin-top: auto;
} */
.admin-navbar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: wheat;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7); 
    transition: all 0.1s ease;
}
.admin-navbar-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: #676767;
    color: #ccc;
}
.admin-navbar .link-text{
    color: white;
    display: none;
}
.admin-navbar-item{
    width: 100%;
}
.admin-navbar svg{
    fill: white;
    min-width: 2rem;
    margin: 0 1.5rem;
    max-width: 2.4rem;
}


.admin-navbar .logo{
 font-weight: bold;   
 text-transform: uppercase;
 margin-bottom: 1rem;
 text-align: center;
 color: #676767;
 background:#000000;
 font-size: 1.5rem;
 letter-spacing: 0.3ch;
 width: 100%;
}
.admin-navbar .logo a{
    display: flex;
    align-items: center;
    height: 5rem;
    color: wheat;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7); 
    transition: all 0.1s ease;
}
.admin-navbar .logo svg{
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.admin-navbar:hover .logo svg{
    transform: rotate(-180deg);
}
main{
    margin-left: 5rem   ;
}

/* small screens */
@media only screen and (max-width: 600px){
.admin-navbar{
    bottom: 0;
    width: 100vw;
    height: 5rem;
}
.admin-navbar .logo{
    display: none;
}
.admin-navbar-nav{
    flex-direction: row;
}
.admin-navbar-link{
    justify-content: center;
}
main{
    margin: 0;
}
}

/* large screens */
@media only screen and (min-width: 600px){
.admin-navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
}
.admin-navbar:hover{
    width: 16rem;
}
.admin-navbar:hover .link-text{
    display: inline;
    transition: all 0.2s ease;
}
}

/* ADMIN SIDEBAR NAVIGATION --->>> */

.popup-box{
    display: none;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position:fixed;
}

.signup-form{
    display: flex;
    background: #46ec1d;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 400px;
    text-align: left;
    position: absolute;
}

.login-form{
    display: none;
    background: #46ec1d;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
    text-align: left;
    position:absolute;
}

.form-label {
    font-size: 16px;
    color: #2d1f1f;
    text-align: left;
    margin-bottom: 20px;
    padding: 5px;
}
.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.btn-submit{
    color: #49557e;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.close-form{
    height: 7%;
    width: 7%;
    position: absolute;
    top: -7px;
    right: -7px;
    background-color:white;
    border-radius: 50%;
    border-width: thick;
    cursor: pointer;
}