.header{
    margin: 0px auto 20px;
    height: 70vh;
    background: url('/public/header\ image.jpg') no-repeat;
    position: relative;
    width: 100vw;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.header-contents{
    position: absolute;
    display: flex;
    animation: fadein 1s;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    max-width: 50%;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}